{% extends 'base.html' %}

{% block content %}
<section class="ftco-section bg-light"> {% csrf_token %}

      <div class="container">
            {% block search %}
            {% endblock %}
        <div class="row d-flex">
          {% for noticia in noticias reversed %}
          <div class="col-md-4 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
                <a href="{% url 'new' id=noticia.id%}" class="block-20 center-cropped" style="background-image: url({{ "../media/"|add:noticia.imagen }});">
              </a>
              <div class="text p-4 float-right d-block">
              	<div class="topper d-flex align-items-center">
              		<div class="one py-2 pl-3 pr-1 align-self-stretch">
              			<span class="day" style="font-size: 20px">{{noticia.getPuntaje}}</span>
              		</div>
              		<div class="two pl-0 pr-3 py-2 align-self-stretch">
              			<span class="yr">{{noticia.getFecha}}</span>
              			<span class="mos">{{noticia.getYear}}</span>
              		</div>
              	</div>
              	<h3 class="heading mb-3"><a href="{% url 'new' id=noticia.id%}">{{noticia.titulo}}</a></h3>
                <p>{{noticia.descripcion|slice:"0:100"|add:"..." }}</p>
                <p><a href="{% url 'new' id=noticia.id%}" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Read more</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
            </div>
          </div>
        </div>
      </div>

    </section>
{% endblock %}