{% extends 'base.html' %}

{% block content %}
<section class="bg-light contact-section ">
     <br>
     <br>
    <div class="contact-form">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
      </div>
    </div>
    <br>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<p class="mb-5">
              <img src="{{ "../media/"|add:noticia.imagen }}" alt="" class="img-fluid">
            </p>

            <div class=" d-flex justify-content-center">
              <span class="day">({{noticia.getPuntaje}})</span> &nbsp;
              <span class="">Fake</span> &nbsp&nbsp
              {% for i in noticia.rango %}
                <span class="fa fa-star checked"></span>&nbsp&nbsp
              {% endfor %}
              {% for i in noticia.rangoO %}
                <span class="fa fa-star"></span>&nbsp&nbsp
              {% endfor %}
              <span class="checked">Real</span>
            </div>
            <br>
            <h2 class="mb-3">{{noticia.titulo}}</h2>
            <div align="justify">
              {% for parrafo in noticia.parrafos %}
                <p>{{parrafo}}</p>
              {% endfor %}
            </div>

            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                {% for cat in noticia.categorias.all %}
                <a href="{% url 'explore' texto=cat.nombre %}" class="tag-cloud-link">{{cat.nombre}}</a>
                {% endfor %}
              </div>
            </div>

            {% if no_voto %}
            <h3>Rate</h3>
            <form method='POST'  action="#" class="bg-light form-group "> {% csrf_token %}
              <div id="form-wrapper">
                <div id="debt-amount-slider">

                  <input type="radio" name="debt-amount" id="1" value="1" required>
                  <label for="1" data-debt-amount="Fake"></label>
                  <input type="radio" name="debt-amount" id="2" value="2" required checked="checked">
                  <label for="2" data-debt-amount=""></label>
                  <input type="radio" name="debt-amount" id="3" value="3" required>
                  <label for="3" data-debt-amount=""></label>
                  <input type="radio" name="debt-amount" id="4" value="4" required>
                  <label for="4" data-debt-amount=""></label>
                  <input type="radio" name="debt-amount" id="5" value="5" required>
                  <label for="5" data-debt-amount="Real"></label>
                  <div id="debt-amount-pos"></div>
                </div>
              </div>
              <br>
              <br>
              <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6Lfy5eAUAAAAAPOVJWqA0wF39Tyx0swsksY8KyOg"></div>
              </div>
              <div class="form-group">
                <input type="submit" value="Vote" name="voto" class="btn btn-primary py-3 px-5">
              </div>
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                  {{message}}
                  </div>
              {% endfor %}
            </form>

            <div class="about-author d-flex p-4 bg-light">
              <div class="bio mr-5">
                <img src="{{ "../media/"|add:noticia.creador.imagen }}" alt="Image placeholder" class="img-fluid mb-4 center-cropped block-20" style="width: 400px; height: 400px">
              </div>
              <div class="desc">
                <h3><b>Autor: </b> <br> {{noticia.creador}} ({{noticia.creador.calc_puntaje}})</h3>
                <p>{{noticia.creador.descripcion}}</p> <br><br><br>
                <p>
                  <form method='POST' action="#" class=" bg-light">{% csrf_token %}
                  <input type="submit" class="btn btn-primary py-3 px-5"  value="{{follow}}" name="seguir"/>
                </form>

                </p>
              </div>
            </div>
            {% endif %}


            <div class="">

              <div class="comment-form-wrap">
                <h3 class="mb-5">Any problem with this article? </h3>
                <form method='POST' action="#" class=" bg-light">{% csrf_token %}

                  <div class="form-group" >
                    <label for="tipo">Type:</label>
                    <select id="tipo" name="tipo" class="form-control">
                      <option value="Fake New">Fake New</option>
                      <option value="Harassment">Harassment</option>
                      <option value="Hate">Hate</option>
                      <option value="Nudes">Nudes</option>
                      <option value="Personal Profit"> Personal Profit</option>
                      <option value="Spam">Spam</option>
                      <option value="Suicide or Self-harm">Suicide or Self-harm</option>
                      <option value="Terrorism">Terrorism</option>
                      <option value="Violence">Violence</option>
                      <option value="Others">Others</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="descripcion">Description:</label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Send complaint" name="denuncia" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar pl-lg-5 ftco-animate">
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Categories</h3>
                <li><a href="{% url 'explore' texto="Coronavirus" %}">Coronavirus <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="{% url 'explore' texto="Reino Unido" %}">Reino Unido <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="{% url 'explore' texto="Salud" %}">Salud <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="{% url 'explore' texto="Política" %}">Política <span class="ion-ios-arrow-forward"></span></a></li>
                <li><a href="{% url 'explore' texto="Deportes" %}">Deportes <span class="ion-ios-arrow-forward"></span></a></li>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>About yesterday... </h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(../media/maria-teresa-de-bourbon-parma-file-exlarge-169.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="../new/25">Primera víctima por coronavirus en la realeza española</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Mar. 30, 2020</a></div>
                    <div><a href="#"><span class="icon-person"></span> Fernanda</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 0</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(../media/carlos.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="../new/26">El príncipe Carlos terminó su cuarentena por coronavirus</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Mar. 30, 2020</a></div>
                    <div><a href="#"><span class="icon-person"></span> Fernanda</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 0  </a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(../media/itscoronatime.jpeg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="../new/16">Casi 50.000 nuevos infectados por el coronavirus en el mundo en un día</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Mar. 30, 2020</a></div>
                    <div><a href="#"><span class="icon-person"></span> Joaquín Viscafe</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 0</a></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Tag Cloud</h3>
              <div class="tagcloud">
                <a href="{% url 'explore' texto="Coronavirus" %}" class="tag-cloud-link">Coronavirus</a>
                <a href="{% url 'explore' texto="Deportes" %}" class="tag-cloud-link">Deportes</a>
                <a href="{% url 'explore' texto="Jeanine Añez" %}" class="tag-cloud-link">Jeanine Añez</a>
                <a href="{% url 'explore' texto="Deportes" %}" class="tag-cloud-link">Deportes</a>
                <a href="{% url 'explore' texto="Bolivia" %}" class="tag-cloud-link">Bolivia</a>
                <a href="{% url 'explore' texto="Salud" %}" class="tag-cloud-link">Salud</a>
                <a href="{% url 'explore' texto="Entretenimiento" %}" class="tag-cloud-link">Entretenimiento</a>
                <a href="{% url 'explore' texto="Estados Unidos" %}" class="tag-cloud-link">Estados Unidos</a>
              </div>
            </div>

            <div class="sidebar-box ftco-animate">
              <h3>Admins Advice</h3>
              <p>#QuedateEnCasa, si presentas algún sintoma de coronavirus, entra en contacto con las autoridades sanitarias de tu región.

              </p>
            </div>
          </div>

        </div>
      </div>
</section> <!-- .section -->
{% endblock %}