{% extends 'base.html' %}

{% block content %}
<section class="bg-light contact-section" xmlns="http://www.w3.org/1999/html">
      <br>
      <br>
      <div class="">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-1 text-center">
            <h2 class="mb-3 bread" style="color:#b5b5b5; font-size: 70px;">Profile edit</h2>
          </div>
        </div>
      </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end" style="background-image:url(../static/images/about.jpg);
								width: 600px; height: 530px;">
							<button class="btn btn-primary py-3 px-5" onclick="window.location.href='profile'" >
								My Profile  </button>
    				</div>
    			</div>

    			<div class="col-md-6 pl-md-5 py-md-3">
    				<div class="row justify-content-start pt-3 pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">No puedes editar tu username, {{request.user.username}}.</span>
		            <h2 class="mb-4">{{user.first_name}} {{user.last_name}}</h2>
		            <p>Tu puntuación es dada por otros usuarios.<p>
		            <div class="tabulation-2 mt-4">
									<ul class="nav nav-pills nav-fill d-md-flex d-block">
									  <li class="nav-item mb-md-0 mb-2">
									    <a class="nav-link active py-2" data-toggle="tab" href="#home1">Información</a>
									  </li>
									  <li class="nav-item px-lg-2 mb-md-0 mb-2">
									    <a class="nav-link py-2" data-toggle="tab" href="#home2">Siguiendo</a>
									  </li>
									  <li class="nav-item">
									    <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Publicado</a>
									  </li>
									</ul>
									<div class="tab-content bg-light rounded mt-2" >
									  <div class="tab-pane container p-0 active" id="home1">
									  <form method="POST" action="#"> {% csrf_token %}
									  	<p>Por favor, no dejes ningún campo en blanco.
										  {{ form.as_ul }}
					  					<button class="btn btn-primary py-1 px-2" type="submit" > Save </button>
				  						</p>
					  					</form>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home2">
									  	<p>Right now, you aren't following anyone.</p>
									  </div>
									  <div class="tab-pane container p-0 fade" id="home3">
									  	<p>You hadn't write any new, do you want to publish your first article?.</p>
									  </div>
									</div>
								</div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
				<br><br><br>

    </section>
</section>
{% endblock %}