{% extends 'base.html' %}

{% block content %}
<section class="bg-light contact-section">
      <br>
      <br>
      <div class="">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-1 text-center">
            <h2 class="mb-3 bread" style="color:#b5b5b5; font-size: 70px;">Publish</h2>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row block-9 no-gutters">
          <div class="col-lg-6 order-md-last d-flex">
            <form method= 'POST' action="#" class="bg-light p-4 p-md-5 contact-form"> {% csrf_token %}
              <div class="col-12 form-group">
                <input type="text" class="form-control" placeholder="Title" name="titulo" id ="titulo">

              </div>
              <div class="col-12 form-group">
                <input type="text" class="form-control" placeholder="Source"name="fuente"id ="fuente">
              </div>

              <div class="col-12 form-group">
                <select id="nacionalidad" name="pais" class="form-control"id ="pais">
                  <option value="Argentina">Argentina</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Brasil">Brasil</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Venezuela">Venezuela </option>
                </select>
              </div>
              <div class="col-12 form-group">
                <input type="text" class="form-control" placeholder="Tags">
              </div>
              <div class="col-12 form-group">
                <textarea name="descripcion" id="descripcion" cols="30" rows="20" class="form-control" placeholder="Description"></textarea>
              </div>

              <div class="col-12 form-group">
                <input type="submit" value="Publish New" class="btn btn-primary py-3 px-5">
              </div>


            </form>


          </div>

          <div class="">
            <br>
            <br>
          	<div id="" class="bg-white" style="width:500 ; height: 400;">
              <input type='file' onchange="readURL(this);" />
              <br>
              <img id="blah" src="#" alt="your image" />
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}